.bgnavbarperso {
   background-color: black !important;
}

.bgnavbarperso li a{
color: #ffffff !important;
}

#formAnnee{
    display: none;
}

body{
    background-image: url('../../../serveur/donnees/bg3.jpg') ;
   background-size:cover ;
    
}
label{
    font-size:xx-large;
    color: rgb(0,71,171);
}
input{
    background-color: rgb(0,71,171) !important;
}